body{
	font-family: 'MicrosoftYaHei',Verdana,Arial,sans-serif;
	/*background-color: rgb(245, 202, 169);*/
	background-color: rgba(200,100,50,0.6);
	overflow: scroll;
	margin: 0px;
	cursor: default;
}

div.top_fixed_nav{
	background-color: rgba(255,255,255,0.2);
	padding: 5px 100px;
	margin: 0px;
	height: 38px;
	border-radius:3px;
}

div.solog{
	font-family: "Microsoft YaHei";
	font-weight: bold;
	display: inline-block;
	float: left;
	line-height: 38px;
}

div.login{
	font-family: "Microsoft YaHei";
	font-weight: bold;
	display: inline-block;
	float: right;
	line-height: 38px;
	cursor: pointer;
}
}
@-webkit-keyframes myfirst{
	0% {background-color: red;top: 0px;}
	25% {background-color: green;top: 50px;}
	50% {background-color: blue;top: 100px;}
	75% {background-color: pink;top: 150px;}
	100% {background-color: white;top: 200px;}
}


div.weather{
	-webkit-animation: myfirst 15s;
	-o-animation: myfirst 5s;
	animation: myfirst 5s;
}
div.frame{
	background-image: url(../img/无锡.jpg);
	background-repeat: no-repeat;
	margin: 5px auto;
	padding-top:5px; 
	width: 960px;
	height: 10000px;
	background-color:rgba(183,194,226,1);
	border-radius: 3px;
}
div.left{
	float: left;

}
div.left ul{
	text-align: left;
	padding-left: 5px;
}
div.send_text{
	padding: 1px 10px;
	background: #fff;
	width: 600px;
	margin: 0px auto;
	border-radius: 3px;
}

textarea{
	padding: 0px;
	width: 598px;
	height: 100px;
	font-size: 15px;
	box-shadow: 0 0 1px 1px #ccc inset;
	border-style: none;
	resize:none;
}
div.top{
	margin: 10px 0;
}
div span{
	/*text-align: left;*/
	font-size: 14px;
	color: #000;
}
span.count_char{
	float:right;
}


p{
	margin: 0;

}
div.input{
	/*margin-bottom: 30px;*/
	border: 1px #333;
}
input.cus_fabu{
	left: 548px;
}
input{
	position: relative;
	display: inline-block;
	margin:8px 0px ;
	cursor: pointer;

	background-color: white;
	border-style: none;
	box-shadow: 0 0 2px 1px #999 inset;
	width: 50px;
	height: 30px;
	border-radius: 3px;
}
div.local{
	width: 960px;
	background-color: transparent;
	margin: 100px auto 8px ;
	padding: 0;
	border-top: 1px #999 solid;
	font-size: small;
	text-align: center;

}
ul{
	list-style-type: none;
}
/* js 建立元素*/
div.append{
	background-color: #fff;
	width: 600px;
	margin: 8px auto;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 3px;
}
div.kuan_du{
	width: 580px;
}
div.time{
	font-size: small;
	color: #999;
	margin: 0;
}
div.fabu{
	margin-top: 15px;
	margin-bottom: 0px;
	/*border-bottom: 1px solid #aaa;*/
	word-wrap:break-word;/*对于单字节字符串 允许换行*/
}
div.txt_del_btn{
	padding:5px 0;
	width: 50px;
	float: right;
	font-size: small;
	text-align: right;
}
a.txt_del_btn{
	cursor: auto;
	text-align: center;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top:  5px solid #000;
	position: relative;
	top: 10px;
}

a{
	text-decoration: none;
	color: black;
}
ul.txt_del_btn{
	text-align: center;
	width: inherit;
	border: 1px solid #ddd;
	background-color: #fff;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	display: none;
	position: absolute;
	border-radius: 3px;
	box-shadow: 0 0 2px 0px #ddd ;
}
li {
	padding: 5px;
	font-size: small;
}
div.bottomDock{
	text-align: center;
	font-size: small;
	color: #999;
	border-top: 1px solid #999;
}
div.bottomDock div{
	display: inline-block;
	width: 33%;
	margin: 6px 0;
}
div.bottom1{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
div.bottomDock div a{
	color: #999;
}
div.promoteBox1{
	display: none;
	width: 150px;
	height: 70px;
	position: absolute;
	/*top: 200px;
	left: 200px;*/
	background-color: #fff;
	box-shadow: 0 0 10px 1px #999;
	border: 1px solid #999;
	border-radius: 3px;
	background-color: #ccc;
	text-align: center;
}
div.promoteBox1 div{
	display: inline-block;
	width: 40%;
	margin: 12px 0;
}
div.promoteBox1 div.promoteBox2{
	margin: 0 auto;
	display: block;
	position: relative;
	width: 0;
	border-top: 7px solid;
	border-left: 7px solid;
	border-right: 7px solid;
	border-color: #ccc transparent transparent;
}